body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    z-index: 1000;
}

.preloader_row {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 00px;
    text-align: center;
    -webkit-animation: preloader-rotate 2s infinite linear;
    -o-animation: preloader-rotate 2s infinite linear;
    animation: preloader-rotate 2s infinite linear;
}

.preloader_item {
    position: absolute;
    display: inline-block;
    top: 0;
    background: #337ab7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    -webkit-animation: preloader-bounce 2s infinite ease;
    -o-animation: preloader-bounce 2s infinite ease;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader_item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(1);
    }
}

@-o-keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(1);
    }
}

@-moz-keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(1);
    }
}

@keyframes preloader-bounce {

    0%,
    100% {
        transform: scale(0.1);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

nav {
    width: 100%;
    height: 60px;
    background: #234052;
    position: fixed;
    z-index: 10;
}

.clear {
    clear: left;
}

.logo {
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    margin-left: 388px;
    float: left;
    -webkit-animation: coming 1.5s ease;
    -o-animation: coming 1.5s ease;
    animation: coming 1.5s ease;
}

@keyframes coming {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu {
    float: left;
    padding-left: 430px;
}

.menu li {
    float: left;
    line-height: 60px;
    margin-right: 40px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.3s
}

.menu li:nth-child(3) {
    animation-delay: 0.6s
}

.menu li:nth-child(4) {
    animation-delay: 0.9s
}

.menu li:nth-child(5) {
    animation-delay: 1.2s
}

.menu li:nth-child(6) {
    animation-delay: 1.5s
}

.menu a {
    font-size: 16px;
    color: #fff;
    transition: all 0.2s;
    transform: scale(1);
    display: inline-block;
}

.menu li a:hover {
    color: #ed7600;
}

.menu li a:active {
    transform: scale(1.1);
}

.title_class {
    width: 100%;
    height: 100%;
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/ auto 85% no-repeat, url(../img/%D1%84%D0%BE%D0%BD.png) center/cover no-repeat;
}

.title {
    float: left;
    color: #1a3649;
    margin: 432px 0px 0px 404px;
    text-align: center;
    -webkit-animation: leftshift 1s ease forwards;
    -o-animation: leftshift 1s ease forwards;
    animation: leftshift 1s ease forwards;
    -webkit-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    opacity: 0;
}

@keyframes leftshift {
    from {
        margin-left: 0px;
        opacity: 0;
    }

    to {
        margin-left: 404px;
        opacity: 1;
    }
}

.title h1 {
    font-size: 60px;
    font-weight: bold;
}

.title h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #8a9596;
}

.title input {
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    margin: 50px 14px 0px 14px;
    cursor: pointer;
    transition: all 0.2s;
}

.title input:hover {
    background: #234052;
    color: white;
}

.title input:active {
    transform: scale(1.1);
}

.about_me {
    height: 717px;
    width: 100%;
    float: left;
    text-align: left;
    color: #3f495a;
    font-family: Calibri, sans-serif;
    font-size: 15px;
}

.about_me_container {
    margin: auto;
    width: 740px;
}

.element-animation {
    transform: translateY(100px);
    opacity: 0;
}

.element-animation.element-show {
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s;
}

.about_me h2 {
    margin: 110px auto 2px auto;
    ;
    width: 100px;
    text-align: center;
    font-size: 24px;
    color: #1b2d42;
    font-weight: 600;
}

.about_me hr {
    background: #ed7600;
    width: 70px;
    height: 4px;
    margin: 30px auto 60px auto;
}

.about_me img {
    display: block;
    margin: 30px auto;
    transition: all 0.5s;
    border-radius: 50%;
    width: 205px;
    height: 205px;
}

.about_me img:hover {
    transform: scale(1.2);
    border: 1px solid #efeff8;

}

.about_me input {
    display: block;
    margin: auto;
    color: #6f707e;
    margin-top: 37px;
    padding: 13px 12px 13px 33px;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png) 11px 50%/auto 14px no-repeat;
    border: 2px solid #6f707e;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.about_me input:hover {
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B01.png) 11px 50%/auto 14px no-repeat #234052;
    color: white;
}

.about_me input:active {
    transform: scale(1.1);
}

.skills {
    width: 100%;
    height: 525px;
    float: left;
    background: url(../img/skills-bg.png) center/3700px auto no-repeat;
    background-attachment: fixed;
    font-family: Calibri, sans-serif;
}

.skills h2 {
    margin-top: 107px;
    text-align: center;
    font-size: 24px;
    color: #263244;
    font-weight: 600;
}

.skills hr {
    background: #ed7600;
    width: 70px;
    height: 4px;
    margin: 30px auto 105px auto;
}

#lap {
    margin-left: 365px;
}

.skill {
    float: left;
    width: 294px;
    text-align: center;
    color: #3f495a;
    font-size: 15px;

}

.skill:nth-child(4) {
    transition-delay: 0.1s;
}

.skill:nth-child(5) {
    transition-delay: 0.2s;
}

.skill:nth-child(6) {
    transition-delay: 0.3s;
}

.skill:hover {
    transform: scale(1.1);
    transition: all 0.2s;
    transition-delay: 0s;
}

.skill h3 {
    color: #ed7600;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.skill img {
    display: block;
    margin: 0px auto 40px auto;
    height: 40px;
}

.keys {
    height: 1180px;
    width: 100%;
    float: left;
    text-align: center;
}

.keys h2 {
    margin-top: 110px;
    font-size: 24px;
    color: #384354;
    font-weight: bold;
}

.keys hr {
    background: #ed7600;
    width: 70px;
    height: 4px;
    margin: 30px auto 40px auto;
}

.keys img {
    display: block;
    margin: 30px auto 37px auto;
}

.keys p {
    margin-bottom: 42px;
    font-family: Calibri, sans-serif;
    font-size: 15px;
    color: #3f495a;
}

.descr_left {
    text-align: left;
    margin: 8px 85px auto 375px;
    float: left;
}

.keys h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #384354;
}

.keys h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #384354;
}

.descr_right {
    margin: 45px 360px 10px 85px;
    text-align: left;
}

.descr_left p {
    margin-bottom: 10px;
}

.custom-btn {
    width: 200px;
    height: 45px;
    color: #fff;
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 20px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    background: linear-gradient(0deg, rgba(0, 212, 255, 1) 0%, rgba(0, 182, 174, 1) 35%, rgba(0, 150, 182, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    z-index: 1;
}

.custom-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.custom-btn:before,
.custom-btn:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #0096b6;
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.custom-btn:before {
    height: 0%;
    width: 2px;
}

.custom-btn:after {
    width: 0%;
    height: 2px;
}

.custom-btn:hover {
    color: #0096b6;
    background: transparent;
}

.custom-btn:hover:before {
    height: 100%;
}

.custom-btn:hover:after {
    width: 100%;
}

.custom-btn span:before,
.custom-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #0096b6;
    box-shadow:
        -7px -7px 20px 0px rgba(255, 255, 255, .9),
        -4px -4px 5px 0px rgba(255, 255, 255, .9),
        7px 7px 20px 0px rgba(0, 0, 0, .2),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s ease;
}

.custom-btn span:before {
    width: 2px;
    height: 0%;
}

.custom-btn span:after {
    height: 2px;
    width: 0%;
}

.custom-btn span:hover:before {
    height: 100%;
}

.custom-btn span:hover:after {
    width: 100%;
}



.calc {
    height: 825px;
    width: 100%;
    float: left;
}

.calc h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #384354;
}

.option,
.option1 {
    text-align: left;
    margin: 50px auto 0px auto;
    width: 890px;
}

.option.element-animation {
    transform: translateX(200px);
    opacity: 0;
}

.option.element-show {
    transform: translateX(0px);
    opacity: 1;
}

.option1.element-animation {
    transform: translateX(-200px);
    opacity: 0;
}

.option1.element-show {
    transform: translateX(0px);
    opacity: 1;
}

.option h3,
.option1 h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 22px;
    color: #172437;
}

.option select,
.option1 select {
    width: 890px;
    height: 60px;
    padding-left: 24px;
    color: #737373;
    background-color: #eeeeee;
    font-size: 16px;
}

.calc img {
    display: block;
    margin: 40px auto 0px auto;
}

.calc_footer {
    width: 890px;
    margin: 30px auto 0px auto;
    font-size: 16px;
    font-weight: bold;
    color: #172437;
}

.param {
    text-align: left;
}

.val {
    text-align: right;
    font-size: 18px;
}

.stat {
    width: 100%;
    height: 500px;
    float: left;
    text-align: center;
    background: url(../img/aoy1.png) center/3700px auto no-repeat;
    background-attachment: fixed;
}

.stat_container {
    width: 1100px;
    margin: auto;
}

.stat_container h2 {
    margin-top: 103px;
    text-align: center;
    font-size: 24px;
    color: #263244;
    font-weight: 600;
}

.stat hr {
    background: #ed7600;
    width: 70px;
    height: 4px;
    margin: 30px auto 40px auto;
}

.item {
    display: inline-block;
    width: 260px;
    margin: 0px;
    transition: all 0.1s;
}

.item:nth-child(4) {
    transition-delay: 0.1s;
}

.item:nth-child(5) {
    transition-delay: 0.2s;
}

.item:nth-child(6) {
    transition-delay: 0.3s;
}

.item:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

.item img {
    display: block;
    margin: 0px auto 32px auto;
    height: 50px;
}

.item h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #2b3652;
}

.item h4 {
    font-size: 14px;
    font-weight: 600;
    color: #2b3652;
}

.comms {
    width: 850px;
    height: 593px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    color: #1b2d42;
}

.comms h2 {
    margin-top: 103px;
    font-size: 24px;
    color: #263244;
    font-weight: 600;
}

.comms hr {
    background: #ed7600;
    width: 70px;
    height: 4px;
    margin: 30px auto 58px auto;
}

.comms img:hover {
    transition: all 0.2s;
    transform: scale(1.2);
}

.comms p {
    margin-top: 40px;
}

.dot {
    margin-top: 50px;
    margin-right: 14px;
}

.comms span {
    font-weight: bold;
}

.contacts {
    height: 808px;
    width: 100%;
    background: url(../img/%D0%A4%D0%BE%D0%BD2.png);
    float: left;
}

.contacts_container {
    text-align: center;
    width: 860px;
    height: 808px;
    margin: auto;
    color: #fff;

}

.contacts_container h2 {
    margin-top: 105px;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}

.contacts_container hr {
    background: #ed7600;
    width: 70px;
    height: 4px;
    margin: 30px auto 35px auto;
}

.contacts_container p {
    margin-bottom: 50px;
}

.inf {
    float: left;
    width: 280px;
    height: 110px;
}

.inf img {
    margin-bottom: 17px;
}

.contacts_container h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 45px;
}

.contacts_container textarea {
    width: 740px;
    height: 94px;
    margin-bottom: 28px;
    padding: 10px 10px;
}

.contacts_container form {
    width: 740px;
    margin: auto;
    opacity: 0.8;
}

.cont_inputs input {
    width: 353px;
    height: 35px;
    padding-left: 10px;
}

.contacts_container form .button {
    width: 125px;
    height: 46px;
    background: #334052;
    font-size: 15px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    z-index: 2;
}

.contacts_container form .button:hover {
    background: #fff;
    color: black;
}

.contacts_container form .button_hid {
    width: 125px;
    height: 46px;
    background: none;
    font-size: 15px;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 502px;
    left: 368px;
}

.contacts_container form .button:active {
    opacity: 0;
}

#name {
    margin: 0px 30px 15px 0px;
}

footer {
    text-align: center;
    color: #fff;
    height: 95px;
    width: 100%;
    background: #234052;
    float: left;
}

footer p {
    margin-top: 40px;
}

.map img {
    width: 100%;
    height: auto;
}
